<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Employee Management System</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertEmployee</servlet-name>
    <servlet-class>com.services.InsertEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmployee</servlet-name>
    <url-pattern>/InsertEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveEmployee</servlet-name>
    <servlet-class>com.services.RetrieveEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveEmployee</servlet-name>
    <url-pattern>/RetrieveEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveToUpdateEmployee</servlet-name>
    <servlet-class>com.services.RetrieveToUpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveToUpdateEmployee</servlet-name>
    <url-pattern>/RetrieveToUpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.services.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.services.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>com.services.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveToUpdateProject</servlet-name>
    <servlet-class>com.services.RetrieveToUpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveToUpdateProject</servlet-name>
    <url-pattern>/RetrieveToUpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProject</servlet-name>
    <servlet-class>com.services.UpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProject</servlet-name>
    <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProject</servlet-name>
    <servlet-class>com.services.DeleteProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProject</servlet-name>
    <url-pattern>/DeleteProject</url-pattern>
  </servlet-mapping>
</web-app>